Methods, which are functions that are tied to values of a certain data type.

### The List Data Type

A list is a value that contains multiple values in an ordered sequence. The term list value refers to the list itself (which is a value that can be stored in a variable or passed to a function like any other value), not the values inside the list value. A list value looks like this: **['cat', 'bat', 'rat', 'elephant']**.

Values inside the list are also called items. Items are separated with commas (that is, they are comma-delimited).

In [1]:
[1, 2, 3]

[1, 2, 3]

In [2]:
['Canada', 'Brazil', 'Egypt', 'China', 'Russia']

['Canada', 'Brazil', 'Egypt', 'China', 'Russia']

In [3]:
['Jian Yang', 3.142, True, None, 'Dinesh']

['Jian Yang', 3.142, True, None, 'Dinesh']

In [4]:
countries = ['Singapore', 'Rwanda', 'Spain', 'Italy']
countries

['Singapore', 'Rwanda', 'Spain', 'Italy']

The countries variable is still assigned only one value: the list value. But the list value itself contains other values. The value [ ] is an empty list that contains no values, similar to '' , the empty string.

### Getting Individual Values in a List with Indexes

The integer inside the square brackets that follows the list is called an index. The first value in the list is at
index 0,the second value is at index 1,the third value is at index 2,the third value is at index 2,and,so on.

In [10]:
countries = ['Mexico', 'Germany', 'Nigeria', 'Senegal', 'Indonesia']
countries[3]
countries[6]
'Hello ' + countries[1]

IndexError: list index out of range

Indexes can be only integer values, not floats.

In [11]:
countries = ['Mexico', 'Germany', 'Nigeria', 'Senegal', 'Indonesia', 'India']
countries[2.0]

TypeError: list indices must be integers or slices, not float

Lists can also contain other list values. The values in these lists of lists can be accessed using multiple indexes. The first index dictates which list value to use, and the second indicates the value within the list value.

In [20]:
countries = [['Pakistani', 'Germany', 'Nigeria', 'Senegal', 'Indonesia', 'India'], 
             ['Karachi', 'Berlin', 'Lagos', 'Dakar', 'Jarkata', 'Delhi']]
countries[0]
countries[0][3]
countries[1][4]

'Jarkata'

### Negative Indexes

While indexes start at **0** and go up, you can also use negative integers for the index. The integer value **-1** refers to the last index in a list, the value **-2** refers to the second-to-last index in a list, and so on.

In [24]:
cities =['London', 'Cairo', 'New York', 'Paris', 'Manila', 'Rio dejenairo', 'San Francisco', 'Bay Area']
cities[-1]
cities[-5]

'Paris'

### Getting Sublists with Slices

Just as an index can get a single value from a list, a slice can get several values from a list, in the form of a new list. A slice is typed between square brackets, like an index, but it has two integers separated by a colon. Notice the difference between indexes and slices.
1. cities[2] is a list with an index (one integer).
2. cities[1:4] is a list with a slice (two integers).

In a slice, the first integer is the index where the slice starts. The second integer is the index where the slice ends. A slice goes up to, but will not include, the value at the second index. A slice evaluates to a new list value. ie includes the first integer and -1 to the second integer

In [29]:
cities =['London', 'Cairo', 'New York', 'Paris', 'Manila', 'Rio dejenairo', 'San Francisco', 'Bay Area']
cities[0:-4]
cities[2:4]

['New York', 'Paris']

As a shortcut, you can leave out one or both of the indexes on either side of the colon in the slice. Leaving out the first index is the same as using 0,or the beginning of the list. Leaving out the second index is the same as
using the length of the list, which will slice to the end of the list.

In [32]:
cities =['London', 'Cairo', 'New York', 'Paris', 'Manila', 'Rio dejenairo', 'San Francisco', 'Bay Area']
cities[:3]
cities[2:]
cities[:]

['London',
 'Cairo',
 'New York',
 'Paris',
 'Manila',
 'Rio dejenairo',
 'San Francisco',
 'Bay Area']

### Getting a List’s Length with len( )
The len( ) function will return the number of values that are in a list value passed to it, just like it can count the number of characters in a string value.

In [33]:
cities =['London', 'Cairo', 'New York', 'Paris', 'Manila', 'Rio dejenairo', 'San Francisco', 'Bay Area']
len(cities)

8

### Changing Values in a List with Indexes

Normally a variable name goes on the left side of an assignment statement, like eggs = 42 . However, you can also use an index of a list to change the value at that index. For example, eggs[1] = 'blue' means “Assign the
value at index 1 in the list eggs to the string 'blue' .”

In [39]:
cities =['London', 'Cairo', 'New York', 'Paris', 'Manila', 'Rio dejenairo', 'San Francisco', 'Bay Area']
cities[4] = 'Doha'
cities[0] = 'Dubai'
cities[-2] = 'Jordan'
cities

['Dubai',
 'Cairo',
 'New York',
 'Paris',
 'Doha',
 'Rio dejenairo',
 'Jordan',
 'Bay Area']

### List Concatenation and List Replication

The **+ operator** can combine two lists to create a new list value in the same way it combines two strings into a new string value. The __* operator__ can also be used with a list and an integer value to replicate the list.

In [40]:
[1, 2, 3] + ['A', 'B', 'C']

[1, 2, 3, 'A', 'B', 'C']

In [41]:
['x', 'y', 'z'] * 4

['x', 'y', 'z', 'x', 'y', 'z', 'x', 'y', 'z', 'x', 'y', 'z']

In [43]:
clubs = ['Arsenal', 'Chelsea', 'Spurs']
clubs = clubs + ['West Ham', 'Burnley', 'Liverpool']
clubs

['Arsenal', 'Chelsea', 'Spurs', 'West Ham', 'Burnley', 'Liverpool']

### Removing Values from Lists with del Statements

The __del statement__ will delete values at an index in a list. All of the values in the list after the deleted value will be moved up one index.

In [46]:
cities =['London', 'Cairo', 'New York', 'Paris', 'Manila', 'Rio dejenairo', 'San Francisco', 'Bay Area']
del cities[5]
del cities[5]
del cities[5]
cities

['London', 'Cairo', 'New York', 'Paris', 'Manila']

### Working with Lists

Consider how much duplicate code is in the following program

In [49]:
print('Enter the name of cat 1:')
catName1 = input()
print('Enter the name of cat 2:')
catName2 = input()
print('Enter the name of cat 3:')
catName3 = input()
print('Enter the name of cat 4:')
catName4 = input()
print('Enter the name of cat 5:')
catName5 = input()
print('Enter the name of cat 6:')
catName6 = input()

print('The cats names are:')
print(catName1 + ' ' + catName2 + ' ' + catName3 + ' ' + catName4 + ' ' + catName5 + ' ' + catName6)

Enter the name of cat 1:
zapata
Enter the name of cat 2:
heyley
Enter the name of cat 3:
simba
Enter the name of cat 4:
chui
Enter the name of cat 5:
mongo
Enter the name of cat 6:
casndra
The cats names are:
zapata heyley simba chui mongo casndra

Instead of using multiple, repetitive variables, you can use a single variable that contains a list value. This new version uses a single list and can store any number of cats that the user types in

In [51]:
catNames = [] # assign to an empty list that will be concatenated in with a user input later on

while True: # keeps on looping until a user enters nothing
    print('Enter a name of cat ' + str(len(catNames) + 1) + '(Or enter nothing to stop.):') # str(len(catNames) + 1) change len to a string
    name = input()
    if name == '': # it breaks the loop if a user enters nothing
        break
    catNames = catNames + [name] # list concatenation

print('The cats names are:')
for name in catNames: # checks the name in catNames list and print out
    print(' ' + name)

Enter a name of cat 1(Or enter nothing to stop.):
Zapata
Enter a name of cat 2(Or enter nothing to stop.):
Rango
Enter a name of cat 3(Or enter nothing to stop.):
Tango
Enter a name of cat 4(Or enter nothing to stop.):
Rio
Enter a name of cat 5(Or enter nothing to stop.):
Mario
Enter a name of cat 6(Or enter nothing to stop.):
Simba
Enter a name of cat 7(Or enter nothing to stop.):

The cats names are:
 Zapata
 Rango
 Tango
 Rio
 Mario
 Simba

### Using for Loops with Lists

Technically, a **for loop** repeats the code block once for each value in a list or list-like value.

In [52]:
for i in range(4):
    print(i)

0
1
2
3

This is because the return value from range(4) is a list-like value that Python considers similar to [0, 1, 2, 3] .

In [54]:
for i in [0, 1, 2, 3]:
    print(i)

0
1
2
3

What the previous __for loop__ actually does is loop through its clause with the variable __i__ set to a successive value in the [0, 1, 2, 3] list in each iteration.

A common Python technique is to use __range(len(someList))__ with a for loop to iterate over the indexes of a list.

In [5]:
cities =['London', 'Cairo', 'New York', 'Paris', 'Manila', 'Rio dejenairo', 'San Francisco', 'Bay Area']
for i in range(len(cities)):
    print('Index ' + str(i) + ' in cities is: ' + cities[i])

Index 0 in cities is: London
Index 1 in cities is: Cairo
Index 2 in cities is: New York
Index 3 in cities is: Paris
Index 4 in cities is: Manila
Index 5 in cities is: Rio dejenairo
Index 6 in cities is: San Francisco
Index 7 in cities is: Bay Area

### The in and not in Operators

You can determine whether a value is or isn’t in a list with the **in** and **not in** operators. Like other operators, **in** and **not in** are used in expressions and connect two values: a value to look for in a list and the list where it may be found. These expressions will evaluate to a Boolean value.

In [6]:
'cairo' in ['london', 'paris', 'cairo', 'tokyo']

True

In [8]:
cities =['London', 'Cairo', 'New York', 'Paris', 'Manila', 'Rio dejenairo', 'San Francisco', 'Bay Area']
'Osaka' in cities
'London' not in cities

False

In [13]:
cities =['London', 'Cairo', 'New York', 'Paris', 'Manila', 'Rio dejenairo', 'San Francisco', 'Bay Area']
print('Enter a city name:')
name = input()
if name not in cities:
    print('I do not have a city named ' + name)
else:
    print(name + ' is my city')

Enter a city name:
Kigali
I do not have a city named Kigali

### The Multiple Assignment Trick

The multiple assignment trick is a shortcut that lets you assign multiple variables with the values in a list in one line of code. So instead of doing this:

In [15]:
cat = ['fat', 'black', 'loud']
size = cat[0]
color = cat[1]
disposition = cat[1]

# you could do this
cat = ['fat', 'black', 'loud']
size, color, disposition = cat

# The number of variables and the length of the list must be exactly equal, or Python will give you a ValueError :

### Augmented Assignment Operators

In [16]:
spam = 34
spam = spam + 2
spam

36

In [17]:
# As a shortcut, you can use the augmented assignment operator += to do the same thing:
spam = 34
spam += 2
spam

36

The __+= operator__ can also do string and list concatenation, and the __*= operator__ can do string and list replication.

In [18]:
spam = 'Hello'
spam += ' world'
spam

'Hello world'

In [19]:
city = ['Dodoma']
city *= 3
city

['Dodoma', 'Dodoma', 'Dodoma']

### Methods

A method is the same thing as a function, except it is “called on” a value. The method part comes after the value, separated by a period. eg _spam_.__index('hello')__

### Finding a Value in a List with the index() Method

List values have an __index() method__ that can be passed a value, and if that value exists in the list, the index of the value is returned. If the value isn’t in the list, then Python produces a ValueError error.

In [23]:
cities = ['Nairobi', 'Kampala', 'Bujumbura', 'Arusha']
#cities.index('Cairo')
cities.index('Kampala')
cities.index('Arusha')

3

When there are duplicates of the value in the list, the index of its first appearance is returned.

In [24]:
cities = ['London', 'Madrid', 'Milan', 'Roma', 'London', 'Roma']
cities.index('Roma')

3

### Adding Values to Lists with the append() and insert() Methods

To add new values to a list, use the __append()__ and __insert()__ methods. The __append()__ method call adds the argument to the end of the list. The __insert()__ method can insert a value at any index in the list. __The first argument to insert() is the index for the new value, and the second argument is the new value to be inserted.__

In [26]:
cities = ['Jarkata', 'Manila', 'Mumbai']
cities.append('Shanghai')
cities

['Jarkata', 'Manila', 'Mumbai', 'Shanghai']

In [27]:
countries = ['Japan', 'Taiwan', 'China', 'Malaysia']
countries.insert(0, 'Singapore')
countries

['Singapore', 'Japan', 'Taiwan', 'China', 'Malaysia']

Methods belong to a single data type. The __append()__ and __insert()__ methods are list methods and can be called only on list values, not on other values such as strings or integers.

In [28]:
eggs = 'Hello'
eggs.append('World')

AttributeError: 'str' object has no attribute 'append'

In [30]:
eggs = 43
eggs.insert(1, 'Hello')

AttributeError: 'int' object has no attribute 'insert'

### Removing Values from Lists with remove()
The __remove() method__ is passed the value to be removed from the list it is called on.

In [31]:
players = ['Messi', 'Ronaldo', 'Ozil', 'Hazard']
players.remove('Ronaldo')
players

['Messi', 'Ozil', 'Hazard']

In [32]:
# Attempting to delete a value that does not exist in the list will result in a ValueError error.
nations = ['US', 'Mexico', 'Canada', 'Argentina']
nations.remove('spain')

ValueError: list.remove(x): x not in list

In [34]:
# If the value appears multiple times in the list, only the first instance of the value will be removed.
nations = ['US', 'Mexico', 'Canada', 'Argentina', 'Mexico']
nations.remove('Mexico')
nations

['US', 'Canada', 'Argentina', 'Mexico']

__NOTE__

The __del statement__ is good to use when you know the index of the value you want to remove from the list. The __remove() method__ is good when you know the value you want to remove from the list.

### Sorting the Values in a List with the sort() Method

Lists of number values or lists of strings can be sorted with the __sort() method__.

In [36]:
spam = [1, 20, 3.142, -3, 0.7]
spam.sort()
spam

[-3, 0.7, 1, 3.142, 20]

In [39]:
cities = ['Zaire', 'Russia', 'Atalanta', 'London', 'Madrid', 'Milan', 'Roma']
cities.sort()
cities

['Atalanta', 'London', 'Madrid', 'Milan', 'Roma', 'Russia', 'Zaire']

You can also pass __True__ for the reverse keyword argument to have __sort()__ sort the values in reverse order.

In [ ]:
# reverse from the ASCIIbetical order 
names = ['Nick', 'Jones', 'Zain', 'Mike', 'Chris']
names.sort(reverse=True)
names

__There are three things you should note about the sort() method.__

__First__,the sort() method sorts the list in place; don’t try to capture the return value by writing code like spam = spam.sort() .

__Second__, you cannot sort lists that have both number values and string values in them, since Python doesn’t know how to compare these values.

In [51]:
spam = [1, 3, 4, 2, 'Alice', 'Bob', 'Marley']
spam.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

__Third__, sort() uses “ASCIIbetical order” rather than actual alphabetical order for sorting strings. This means uppercase letters come before lowercase letters. Therefore, the lowercase a is sorted so that it comes after the
uppercase Z.

In [53]:
spam = ['Zebra', 'aunt', 'Cat', 'cat', 'Lion', 'Rat']
spam.sort()
spam

['Cat', 'Lion', 'Rat', 'Zebra', 'aunt', 'cat']

If you need to sort the values in regular alphabetical order, pass __str.lower__ for the key keyword argument in the sort() method call.

This causes the sort() function to treat all the items in the list as if they were lowercase without actually changing the values in the list.

In [55]:
spam = ['Zebra', 'aunt', 'Cat', 'cat', 'Lion', 'Rat']
spam.sort(key=str.lower)
spam

['aunt', 'Cat', 'cat', 'Lion', 'Rat', 'Zebra']

In [5]:
# Magic 8 Ball with a List
import random

messages = ['It is certain',
            'It is decidedly so',
            'Yes definitely',
            'Reply hazy try again',
            'Ask again later',
            'Concentrate and ask again',
            'My reply is no',
            'Outlook not so good',
            'Very doubtful']

print(messages[random.randint(0, len(messages) - 1)]) # random number to use for the index, regardless of the size of messages

Ask again later

### List-like Types: Strings and Tuples

Many of the things you can do with Lists can also be done with strings: indexing; slicing; and using them with for
loops, with len(), and with the in and not in operators.

In [ ]:
name = 'Zombie'
#name[1:]
#'Zo' in name
for i in name:
    print(" * * * " + i + " * * * ")

### Mutable and Immutable Data Types

A list value is a __mutable__ data type: It can have values added, removed, or changed. However, a string is __immutable__: It cannot be changed.

In [20]:
name = 'Zombie the person'
name[7] = 'the'

TypeError: 'str' object does not support item assignment

In [5]:
name = 'Zombie a person'
newName = name[0:7] + 'the' + name[8:15]
name
#newName

'Zombie a person'

Although a list value is mutable, the second line in the following code does not modify the list eggs:
The list value in eggs isn’t being changed here; rather, an entirely new and different list value ( [4, 5, 6] ) is overwriting the old list value ( [1, 2, 3] ).

In [6]:
eggs = [1, 2, 3]
eggs = [4, 5, 6]
eggs

[4, 5, 6]

If you wanted to actually modify the original list in eggs to contain [4, 5, 6] , you would have to do something like this:

In [9]:
eggs = [1, 2, 3]
eggs.remove(2)
eggs.remove(3) # you can also use del method with index ie del eggs[0] 
eggs.remove(1)

eggs.append(4)
eggs.append(5)
eggs.append(6)
eggs

[4, 5, 6]

### The Tuple Data Type

The tuple data type is almost identical to the list data type, except in two ways. First, tuples are typed with parentheses, ( and ) , instead of square brackets, [ and ] .

Second, tuples are different from lists is that tuples,like strings, are immutable. Tuples cannot have their values modified,appended, or removed.

In [14]:
eggs = ('hello', 34, '34.90', 'world')
eggs[2]
eggs
eggs[0:3]
len(eggs)

4

In [15]:
eggs = ('hello', 34, '34.90', 'world')
eggs[2] = 'remove' # tuples are immutable

TypeError: 'tuple' object does not support item assignment

__NOTE__

If you have only one value in your tuple, you can indicate this by placing a trailing comma after the value inside the parentheses. Otherwise, Python will think you’ve just typed a value inside regular parentheses. The comma is what lets Python know this is a tuple value.

In [18]:
type(('Hello',))
# type('hello') this is type os string

tuple

### Benefits of using a Tuple over a List

You can use tuples to convey to anyone reading your code that youdon’t intend for that sequence of values to change. If you need an ordered sequence of values that never changes, use a tuple. 

A second benefit of using tuples instead of lists is that, because they are immutable and their contents don’t change, Python can implement some optimizations that make code using tuples slightly faster than code using lists.

### Converting Types with the list() and tuple() Functions

In [19]:
tuple(['hello', 'hey', 'hi'])

('hello', 'hey', 'hi')

In [21]:
list((1, 2, 3))

[1, 2, 3]

### References

As you’ve seen, variables store strings and integer values.

In [22]:
spam = 42
cheese = spam
spam = 100
spam

100

In [23]:
cheese

42

You assign 42 to the spam variable, and then you copy the value in spam and assign it to the variable cheese . When you later change the value in spam to 100 , this doesn’t affect the value in cheese . This is because spam and cheese are different variables that store different values.

But lists don’t work this way. When you assign a list to a variable, you are actually assigning a list reference to the variable. A reference is a value that points to some bit of data, and a list reference is a value that points to a list.

In [24]:
spam = [1, 2, 3, 4, 5, 6]
cheese = spam
cheese[3] = 'Hello'
spam

[1, 2, 3, 'Hello', 5, 6]

In [25]:
cheese

[1, 2, 3, 'Hello', 5, 6]

When you create the list, you assign a reference to it in the spam variable. But the next line  copies only the list reference in spam to cheese, not the list value itself.This means the values stored in spam and cheese now both refer to the same list.There is only one underlying list because the list itself was never actually copied.So when you modify the first element of cheese, you are modifying the same list that spam refers to.

When you alter the list that cheese refers to, the list that spam refers to is also changed, because both cheese and spam refer to the same list.

__NOTE__

Variables will contain references to list values rather than list values themselves. But for strings and integer values, variables simply contain the string or integer value. Python uses references whenever variables must store values of mutable data types, such as lists or dictionaries. For values of immutable data types such as strings, integers, or tuples, Python variables will store the value itself.

### Passing References

References are particularly important for understanding how arguments get passed to functions. When a function is called, the values of the arguments are copied to the parameter variables. This means a copy of the reference
is used for the parameter.

In [6]:
def eggs(someParameter):
    someParameter.insert(1, 'Hello')
    
spam = [1, 2, 3]
eggs(spam)
print(spam)

[1, 'Hello', 2, 3]

__NOTE__

Notice that when eggs() is called, a return value is not used to assign a new value to spam . Instead, it modifies the list in place, directly.

Even though spam and someParameter contain separate references, they both refer to the same list. This is why the append('Hello') method call inside the function affects the list even after the function call has returned.