Methods, which are functions that are tied to values of a certain data type.

### The List Data Type

A list is a value that contains multiple values in an ordered sequence. The term list value refers to the list itself (which is a value that can be stored in a variable or passed to a function like any other value), not the values inside the list value. A list value looks like this: **['cat', 'bat', 'rat', 'elephant']**.

Values inside the list are also called items. Items are separated with commas (that is, they are comma-delimited).

In [1]:
[1, 2, 3]

[1, 2, 3]

In [2]:
['Canada', 'Brazil', 'Egypt', 'China', 'Russia']

['Canada', 'Brazil', 'Egypt', 'China', 'Russia']

In [3]:
['Jian Yang', 3.142, True, None, 'Dinesh']

['Jian Yang', 3.142, True, None, 'Dinesh']

In [4]:
countries = ['Singapore', 'Rwanda', 'Spain', 'Italy']
countries

['Singapore', 'Rwanda', 'Spain', 'Italy']

The countries variable is still assigned only one value: the list value. But the list value itself contains other values. The value [ ] is an empty list that contains no values, similar to '' , the empty string.

### Getting Individual Values in a List with Indexes

The integer inside the square brackets that follows the list is called an index. The first value in the list is at
index 0,the second value is at index 1,the third value is at index 2,the third value is at index 2,and,so on.

In [10]:
countries = ['Mexico', 'Germany', 'Nigeria', 'Senegal', 'Indonesia']
countries[3]
countries[6]
'Hello ' + countries[1]

IndexError: list index out of range

Indexes can be only integer values, not floats.

In [11]:
countries = ['Mexico', 'Germany', 'Nigeria', 'Senegal', 'Indonesia', 'India']
countries[2.0]

TypeError: list indices must be integers or slices, not float

Lists can also contain other list values. The values in these lists of lists can be accessed using multiple indexes. The first index dictates which list value to use, and the second indicates the value within the list value.

In [20]:
countries = [['Pakistani', 'Germany', 'Nigeria', 'Senegal', 'Indonesia', 'India'], 
             ['Karachi', 'Berlin', 'Lagos', 'Dakar', 'Jarkata', 'Delhi']]
countries[0]
countries[0][3]
countries[1][4]

'Jarkata'

### Negative Indexes

While indexes start at **0** and go up, you can also use negative integers for the index. The integer value **-1** refers to the last index in a list, the value **-2** refers to the second-to-last index in a list, and so on.

In [24]:
cities =['London', 'Cairo', 'New York', 'Paris', 'Manila', 'Rio dejenairo', 'San Francisco', 'Bay Area']
cities[-1]
cities[-5]

'Paris'

### Getting Sublists with Slices

Just as an index can get a single value from a list, a slice can get several values from a list, in the form of a new list. A slice is typed between square brackets, like an index, but it has two integers separated by a colon. Notice the difference between indexes and slices.
1. cities[2] is a list with an index (one integer).
2. cities[1:4] is a list with a slice (two integers).

In a slice, the first integer is the index where the slice starts. The second integer is the index where the slice ends. A slice goes up to, but will not include, the value at the second index. A slice evaluates to a new list value. ie includes the first integer and -1 to the second integer

In [29]:
cities =['London', 'Cairo', 'New York', 'Paris', 'Manila', 'Rio dejenairo', 'San Francisco', 'Bay Area']
cities[0:-4]
cities[2:4]

['New York', 'Paris']

As a shortcut, you can leave out one or both of the indexes on either side of the colon in the slice. Leaving out the first index is the same as using 0,or the beginning of the list. Leaving out the second index is the same as
using the length of the list, which will slice to the end of the list.

In [32]:
cities =['London', 'Cairo', 'New York', 'Paris', 'Manila', 'Rio dejenairo', 'San Francisco', 'Bay Area']
cities[:3]
cities[2:]
cities[:]

['London',
 'Cairo',
 'New York',
 'Paris',
 'Manila',
 'Rio dejenairo',
 'San Francisco',
 'Bay Area']

### Getting a List’s Length with len( )
The len( ) function will return the number of values that are in a list value passed to it, just like it can count the number of characters in a string value.

In [33]:
cities =['London', 'Cairo', 'New York', 'Paris', 'Manila', 'Rio dejenairo', 'San Francisco', 'Bay Area']
len(cities)

8

### Changing Values in a List with Indexes

Normally a variable name goes on the left side of an assignment statement, like eggs = 42 . However, you can also use an index of a list to change the value at that index. For example, eggs[1] = 'blue' means “Assign the
value at index 1 in the list eggs to the string 'blue' .”

In [39]:
cities =['London', 'Cairo', 'New York', 'Paris', 'Manila', 'Rio dejenairo', 'San Francisco', 'Bay Area']
cities[4] = 'Doha'
cities[0] = 'Dubai'
cities[-2] = 'Jordan'
cities

['Dubai',
 'Cairo',
 'New York',
 'Paris',
 'Doha',
 'Rio dejenairo',
 'Jordan',
 'Bay Area']

### List Concatenation and List Replication

The **+ operator** can combine two lists to create a new list value in the same way it combines two strings into a new string value. The __* operator__ can also be used with a list and an integer value to replicate the list.

In [40]:
[1, 2, 3] + ['A', 'B', 'C']

[1, 2, 3, 'A', 'B', 'C']

In [41]:
['x', 'y', 'z'] * 4

['x', 'y', 'z', 'x', 'y', 'z', 'x', 'y', 'z', 'x', 'y', 'z']

In [43]:
clubs = ['Arsenal', 'Chelsea', 'Spurs']
clubs = clubs + ['West Ham', 'Burnley', 'Liverpool']
clubs

['Arsenal', 'Chelsea', 'Spurs', 'West Ham', 'Burnley', 'Liverpool']

### Removing Values from Lists with del Statements

The __del statement__ will delete values at an index in a list. All of the values in the list after the deleted value will be moved up one index.

In [46]:
cities =['London', 'Cairo', 'New York', 'Paris', 'Manila', 'Rio dejenairo', 'San Francisco', 'Bay Area']
del cities[5]
del cities[5]
del cities[5]
cities

['London', 'Cairo', 'New York', 'Paris', 'Manila']

### Working with Lists

Consider how much duplicate code is in the following program

In [49]:
print('Enter the name of cat 1:')
catName1 = input()
print('Enter the name of cat 2:')
catName2 = input()
print('Enter the name of cat 3:')
catName3 = input()
print('Enter the name of cat 4:')
catName4 = input()
print('Enter the name of cat 5:')
catName5 = input()
print('Enter the name of cat 6:')
catName6 = input()

print('The cats names are:')
print(catName1 + ' ' + catName2 + ' ' + catName3 + ' ' + catName4 + ' ' + catName5 + ' ' + catName6)

Enter the name of cat 1:
zapata
Enter the name of cat 2:
heyley
Enter the name of cat 3:
simba
Enter the name of cat 4:
chui
Enter the name of cat 5:
mongo
Enter the name of cat 6:
casndra
The cats names are:
zapata heyley simba chui mongo casndra

Instead of using multiple, repetitive variables, you can use a single variable that contains a list value. This new version uses a single list and can store any number of cats that the user types in

In [51]:
catNames = [] # assign to an empty list that will be concatenated in with a user input later on

while True: # keeps on looping until a user enters nothing
    print('Enter a name of cat ' + str(len(catNames) + 1) + '(Or enter nothing to stop.):') # str(len(catNames) + 1) change len to a string
    name = input()
    if name == '': # it breaks the loop if a user enters nothing
        break
    catNames = catNames + [name] # list concatenation

print('The cats names are:')
for name in catNames: # checks the name in catNames list and print out
    print(' ' + name)

Enter a name of cat 1(Or enter nothing to stop.):
Zapata
Enter a name of cat 2(Or enter nothing to stop.):
Rango
Enter a name of cat 3(Or enter nothing to stop.):
Tango
Enter a name of cat 4(Or enter nothing to stop.):
Rio
Enter a name of cat 5(Or enter nothing to stop.):
Mario
Enter a name of cat 6(Or enter nothing to stop.):
Simba
Enter a name of cat 7(Or enter nothing to stop.):

The cats names are:
 Zapata
 Rango
 Tango
 Rio
 Mario
 Simba

### Using for Loops with Lists

Technically, a **for loop** repeats the code block once for each value in a list or list-like value.

In [52]:
for i in range(4):
    print(i)

0
1
2
3

This is because the return value from range(4) is a list-like value that Python considers similar to [0, 1, 2, 3] .

In [54]:
for i in [0, 1, 2, 3]:
    print(i)

0
1
2
3

What the previous __for loop__ actually does is loop through its clause with the variable __i__ set to a successive value in the [0, 1, 2, 3] list in each iteration.